# This is Git's per-user configuration file.
[user]
	name = meereeum
	email = meereeum@gmail.com
[credential]
	username = meereeum
	#helper = cache --timeout=3600
	helper = store
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	username = meereeum
	helper = store
[color]
	ui = auto
